*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, Arial, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#696969,#696969);
    padding:20px;
}

.container{
    width:90%;
    max-width:800px; /* Caixa maior */
    background:#fff;
    padding:40px;
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,.2);
}

h1{
    text-align:center;
    color:#007BFF;
    margin-bottom:25px;
    font-size:32px;
}

.input-area{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:16px;
    border:2px solid #007BFF;
    border-radius:10px;
    outline:none;
    font-size:17px;
}

input:focus{
    border-color:#0056d6;
}

#addButton{
    background:#007BFF;
    color:#fff;
    border:none;
    padding:16px 22px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
    font-weight:bold;
    font-size:16px;
}

#addButton:hover{
    background:#005ed8;
}

ul{
    list-style:none;
    margin-top:30px;
}

li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#f5f9ff;
    border-left:5px solid #007BFF;
    padding:16px;
    margin-bottom:14px;
    border-radius:10px;
    transition:.3s;
}

li:hover{
    transform:translateX(5px);
}

.task{
    flex:1;
    margin-right:10px;
    word-break:break-word;
    font-size:17px;
}

.completed .task{
    text-decoration:line-through;
    color:#888;
}

.actions{
    display:flex;
    gap:8px;
}

.actions button{
    border:none;
    width:40px;
    height:40px;
    border-radius:8px;
    color:#fff;
    cursor:pointer;
    transition:.3s;
    font-size:18px;
}

.complete{
    background:#28a745;
}

.complete:hover{
    background:#218838;
}

.delete{
    background:#dc3545;
}

.delete:hover{
    background:#bb2d3b;
}

@media(max-width:500px){

    .container{
        width:100%;
        padding:25px;
    }

    .input-area{
        flex-direction:column;
    }

    #addButton{
        width:100%;
    }
}

